<%- include("partials/header.ejs") %> 

<h1>These Soft Paws</h1>

<p> <%= p1 %>  </p>


<ul>
    <% for (var i = 0; i < posts.length; i++) 
    { %> 

       <% var object = posts[i]; %>

        <li>
            <h3> <%= object.title %> </h3>
            <h4> <%= object.postComments.substring(0,100) + " ..." %></h4> <a href="/posts/<%= object.title %>">Read More</a>
        </li>

    <% } %>   
</ul>

<hr>


<a class="btn btn-primary" style="padding-top: 15px;" href="/compose">New Post +</a>

<%- include("partials/footer.ejs") %> 